/*General Stylings*/
body {
  background-color:lightgrey; /*This changes the background color of the entire body*/ 
}
/*Headings*/
h1   {
  color:blue; /*This changes the h1 color*/
  }
h2 {
  color: black; /*This changes the h2 color*/
}

/*Styling will devlop overtime*/